<ion-view cache-view="false" title="Ric Murillo - Software Engineer">
    <ion-content padding="true">

    	<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="search.movies">
		  </label>
		</div>

	    <div class="item item-divider item-dark">
		    <div class="row">
			  <div class="col">1 - 5 of 16 results</div>
			  <div class="col">
			  	<label class="item item-input item-select">
			    	<div class="input-label">
			      	Sort By
			    	</div>
				    <select>
				      <option>Date</option>
				      <option selected>Name</option>
				    </select>
			  	</label>
			  </div>
			</div>
		</div>

		<div class="item item-text-wrap">
			<div class="list item item-image item-icon-left" ng-repeat="movie in movie_data.items">
			      <div class="row">
			      	<div class="col col-25">
			      		<img ng-src="/clientlibs/{{movie.image}}">
			      	</div>
				  	<div class="col text-left">
				  		<h1>{{movie.title}} <span class="pg-badge">{{movie.rating | uppercase}}</span>

				  		</h1>
				  		<button class="button button-small button-dark">Add to Watchlist</button>
				  	</div>
				  	<div class="col text-left">
				  		<h3>Release Date {{movie.date | date:'longDate'}}</h3>
				  		<h3>Run Time {{movie.run_time | runTime}}</h3>
				  	</div>
				  </div>

			</div>
		</div>

    </ion-content>
  </ion-view>